.powerlift__about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding: 2rem; */
}

.powerlift__about-section1 {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 77.5%;
  background-color: transparent;
  position: relative;
  top: -50px;
}

.powerlift__hero-option {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  align-items: start;
  background-color: rgb(69, 149, 26);
  height: 14rem;
}

.powerlift__hero-option h2, h3{
  background-color: transparent;
}

.powerlift__hero-option__content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-color: transparent;
}

.powerlift__hero-option__content p, img{
  background-color: transparent;
}

.powerlift__hero-option__small-header {
  font-style: italic;
}

.powerlift__hero-option__header,
.powerlift__hero-option__small-header,
.powerlift__hero-option__content-image,
.powerlift__hero-option__content-paragraph {
  padding-bottom: 1.5rem;
}

.powerlift__hero-option__content-image {
  padding-right: 1.5rem;
}

.powerlift__hero-option__content-paragraph {
  text-align: start;
}

.powerlift__about-section2 {
  display: flex;
  justify-content: space-evenly;
  align-items: top;
  text-align: start;
  padding: 5rem;
  padding-top: 1rem;
}

.powerlift__about-images__container,
.powerlift__about-content__container {
  width: 40%;
}

.powerlift__about-content__container p {
  color: rgb(167, 167, 167);
}

.powerlift__about-images2 {
  position: absolute;
  top: 165%;
  left: 31%;
}

.powerlift__about-images3 {
  position: relative;
  top: 3%;
  left: 15%;
}

.powerlift__about-content__intro,
.powerlift__about-content__heading,
.powerlift__about-content__first-paragraph,
.powerlift__about-content__second-paragraph {
  color: #fff;
}

.powerlift__about-content__intro {
  text-decoration: underline;
  padding-bottom: 2.5rem;
}

.powerlift__about-content__heading {
  padding-bottom: 2.5rem;
}

.powerlift__about-content__first-paragraph,
.powerlift__about-content__second-paragraph {
  font-weight: 200;
  font-size: 17px;
}

.powerlift_about-info {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-top: 3rem;
}

.powerlift_about-info p {
  color: grey;
  font-size: small;
}

.powerlift_about-info h3 {
  color: #fff;
  font-weight: 500;
}

@media (max-width: 768px) {
  .powerlift__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: smaller;
  }

  .powerlift__about-section1 {
    display: block;
    position: relative;
    top: -20px;
    width: 95vw;
  }

  .powerlift__hero-option {
    padding: 2rem;
    text-align: start;
  }

  .powerlift__hero-option__content {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  .powerlift__hero-option__content-image {
    padding-right: 1rem;
  }

  .powerlift__hero-option__header,
  .powerlift__hero-option__small-header,
  .powerlift__hero-option__content {
    padding-bottom: 1rem;
  }

  .powerlift__about-section2 {
    display: block;
    padding-top: 2rem;
    padding: 0;
    width: 100vw;
    
    padding-left: 5px;
    padding-right: 5px;
  }

  /* .powerlift__about-images__container {
    display: flex;
  } */

  .powerlift__about-images1,
  .powerlift__about-images2,
  .powerlift__about-images3 {
    width: 45vw;
  }

  .powerlift__about-images__container {
    width: 100vw;
  }

  .powerlift__about-images1 {
    position: relative;
    left: 9px;
  }

  .powerlift__about-images2 {
    position: relative;
    top: 55px;
    left: 20px;
  }

  .powerlift__about-images3 {
    position: relative;
    top: 70px;
  }

  .powerlift__about-content__container {
    width: 100vw;
    padding-top: 7rem;
    text-align: start;
  }

  .powerlift__about-content__intro {
    text-decoration: underline solid #03415A;
    text-underline-offset: 13px;
    font-weight: 100;
    font-size: large;
    padding-bottom: 2.5rem;
  }

  .powerlift__about-content__container h2 {
    font-size: 25px;
    padding-bottom: 2rem;
  }

  .powerlift__about-content__container p {
    font-weight: 100;
    color: rgb(170, 170, 170);
    padding-top: 0;
  }

  .powerlift_about-info {
    padding-top: 0;
    display: flex;
    flex-direction: column;
  }

  .powerlift_about-info p {
    padding-top: 2.5rem;
  }

  .powerlift__about-infocard h3 {
    padding-top: 0.5rem;
  }
}