@media (max-width: 768px) {
  .powerlift__testimonials {
    display: flex;
    flex-direction: column;
    padding-top: 7rem;
    align-items: center;
    justify-content: center;
    /* align-items: center; */
  }
  
  .powerlift__testimonials-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    border: 1px solid grey;
  }
  
  .powerlift__testimonials-container__userimg {
    border-radius: 50%;
    width: 120px;
    position: relative;
    top: -60px;
  }
  
  .powerlift__testimonials-container__quoteimg {
    width: 50px;
  }
  
  .powerlift__testimonials-container__firstparagraph {
    width: 80%;
    line-height: 27px;
    font-style: italic;
    color: #fff;
  }
  
  .powerlift__testimonials-container__secondparagraph {
    color: #fff;
    letter-spacing: 3px;
  }
  
  .active {
    background-color: #fff;
    color: black;
  }
  
}